---
---
@import "variables.scss";
@import "mixins.scss";

// Global Components
$btnpad: 10px;

body {
    overflow-x: hidden;
    @include body-font;
}

.text-muted {
    color: $gray-light;
}

.text-primary {
    color: $theme-primary;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

p.large {
    font-size: 20px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
}

a {
    color: darken($theme-primary, 15%);
}

a:hover,
a:focus,
a:active,
a.active {
    color: darken($theme-primary, 20%);
}


.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: $gray-lighter;
}

.bg-darkest-gray {
    background-color: $gray-darker;
}

// Restyled Primary Buttons

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
}

.btn-xl {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

// Custom Navigation Bar

.navbar-custom {
    background-color: $gray-darker;
    border-color: transparent;

    .navbar-brand {
        color: $theme-primary;
        @include sans-serif-font;
        font-weight: 800;

        &:hover,
        &:focus,
        &:active,
        &.active {
            color: darken($theme-primary, 10%);
        }
    }
    .navbar-collapse {
        border-color: fade-out(white, .02);
    }
    .navbar-toggle {
        background-color: $theme-primary;
        border-color: $theme-primary;
        @include sans-serif-font;
        color: white;
        font-size: 12px;
        &:hover,
        &:focus {
            background-color: $theme-primary;
        }
    }

    .nav {
        li {
            a {
                @include sans-serif-font;
                font-weight: 700;
                color: white;
                &:hover,
                &:focus {
                    color: $theme-primary;
                    outline: none;
                }
            }
        }
    }
    .navbar-nav>.active>a {
        border-radius: 0;
        color: white;
        background-color: $theme-primary;
    }
    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus {
        color: white;
        background-color: darken($theme-primary, 10%);
    }
}

@media(min-width:768px) {
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        .navbar-brand {
            font-size: 2em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .navbar-nav>.active>a {
            border-radius: 3px;
        }
    }
}

// Navbar Change on Scroll

@media(min-width:768px) {
    .navbar-custom.affix {
        background-color: $gray-darker;
        padding: 10px 0;
    }
}

header {
    background-image: url('/assets/img/chateau_button.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    @include background-cover;
    text-align: center;
    color: white;

    .intro {
        padding-top: 75px;
        padding-bottom: 50px;

        .intro-title {
            @include sans-serif-font;
            padding: 15px;
            font-size: 55px;
            margin-bottom: 55px;
            opacity: 1;
            font-weight: 700;
        }
        .intro-subtitle {
            padding: 15px;
            font-weight: 700;
            font-size: 45px;
            line-height: 50px;
            margin-bottom: 35px;
        }
        .intro-information {
            padding: 12px;
            p { font-size: 40px;
                color : white;
                font-weight: 700;
              }
            margin-top : 200px;
            margin-bottom: 45px;
        }
        .register {
            margin-top:80px;
            .btn-click {
                font-weight: 700;
                font-size:30px;
                text-transform: uppercase;
                color : white;
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 15px;
                padding-top: $btnpad;
                padding-bottom: $btnpad;
                background-color: $theme-primary;
                border-color: $theme-primary ;
            }
        }
    }

}

@media(min-width:768px) {
    header {
    .intro {
            padding-top:150px;
            padding-bottom: 50px;

            .intro-title {
                font-size: 90px;

                margin-bottom: 55px;
                opacity: 1;
                font-weight: 700;
            }
            .intro-subtitle {
                font-weight: 700;
                font-size: 50px;
                line-height: 50px;
                margin-bottom: 35px;
            }
            .intro-information {
                margin-top: 250px;
                margin-bottom: 50px;
                p { font-size: 35px;
                    color : white;
                    font-weight: 800;
                  }
            }
        }
    }
}

p.bio {
    text-align: left;
}

@media(min-width:768px) {
    
    div#intro, section {
        padding: 50px 0;
    }
}


.myimg {
    margin: 0 auto;
    border: $theme-primary solid 5px;
}


.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}

.speaker-modal {
    .modal-dialog{
        margin: 0;
        height: 100%;
        width: auto;
    }
    .modal-backdrop {
        opacity: 0;
        display: none;
    }
    .links {
        padding-top: 30px;
        text-align:center;
    }
    .modal-header {
        h1 {
            text-align:center;
        }
        .xclose {
            text-align:center;
        }
    }
    .modal-body {
        h3 {
            font-weight: 700;
        }
    }
}


// Highlight Color Customization

::-moz-selection {
    text-shadow: none;
    background: $theme-primary;
}

::selection {
    text-shadow: none;
    background: $theme-primary;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: $theme-primary;
}

section#contacts {
    background-color: $gray-darker;
    color: white;
    padding-bottom: 100px;
    padding-top: 30px;
    li > a {
        color: $theme-primary;
        @include sans-serif-font;
        font-weight: 700;
    }
}


div.speaker {
    padding-bottom: 15px;
    text-align:center;

    div.picture {
        padding-left: 20%;
    }

}

div#intro,
section {
    h1 {
        @include sans-serif-font;
        font-weight: 700;
        padding-bottom: 15px;
        text-transform: uppercase;
       }
}


p > li  {
    font-size: 20px;
}
ul.nav-pills {
    background-color: $gray-darker;
    color: white;
    border-radius: 5px;
}

.nav-pills {
    li {
        a {
            font-weight: 800;
            @include sans-serif-font;
            font-size:16px;
            &:hover,
            &:focus,
            &:active,
            &.active
            {
                background-color: $theme-primary;
                color: white;
            }

        }
    }
}

ul.nav-pills > li.active > a,
ul.nav-pills > li.active > a.active,
ul.nav-pills>li.active>a:focus,
ul.nav-pills>li.active>a:hover
{
    background-color: $theme-primary;
    color: white;

}

div.entry {
    padding: 10px;
    font-weight: 800;
    font-size: 18px;

    .teacher {
    }

    .nolecture {
        color: lighten($gray-darker, 35%);
    }
}


div.mywell {
    font-size: 16px;
    border: transparent solid;
    background-color: white;
    padding-left: 19px;
}

div.alerted {
    font-size: 18px;
    padding: 20px;
    border: $theme-primary solid 1px;
    border-radius: 5px;
    color: black;
    background-color: $gray-lighter;
}

div.highlight {
    border: $gray-lighter solid 1px;
//    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    border-left: $theme-primary solid 10px;
}


div.date-elem {
    padding: 5px;
    div.bold {
        font-weight: 800;
    }
}


.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 35px;
    height: 40px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: darken($theme-primary, 10%);
    background-color: transparent;
}


.back-to-top i {
  font-size: 40px;
}


hr {
    color: $theme-primary;
    border-top-color: $theme-primary;
}

div.sponsor {
    img {
        width: auto;
        height: auto;
        max-height:150px;
        margin-bottom: 20px;
    }
}

h3, h5 {
    font-weight: 700;
}
