---
---


div.paris {
    .jumbotron {
        background: transparent;
        h1, h2, h3, h4 { font-family: "Source Code Pro", "Dejavu Sans", sans-serif;}
    }
    .navbar {
    }
}


body {
    position: relative;
}

img.chateau {
    width:10%;
}
