{% assign sorted_board = site.data.people | where: "board", true | sort: "lastname" %}
{% assign events = site.data.previous | sort:"-year" %}
{% assign org = site.data.people | where: "organizer", true | sort: "lastname" %}

<section id="contacts" class="container-fluid">
  <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Contacts</h1>
    </div>

    <div class="col-sm-12 col-md-4">
      <h3>Scientific advisory board</h3>
      <ul class="fa-ul">
        {% for person in sorted_board %}
        <li><i class="fa-li fa fa-square"></i>
          <a href="{{ person.www }}">{{ person.firstname }} {{ person.lastname }}</a>,
          {{ person.affiliation }}
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-sm-12 col-md-4">
      <h3>Organization</h3>
      <ul class="fa-ul">
        {% for person in org %}
        <li><i class="fa-li fa fa-square"></i>
          <a href="{{ person.www }}">{{ person.firstname }} {{ person.lastname }}</a>,
          {{ person.affiliation }}
        </li>
        {% endfor %}

      </ul>
    </div>


    <div class="col-sm-12 col-md-4">
      <h3>Past events</h3>
      <ul class="fa-ul">
        {% for e in events %}
        <li>
          <i class="fa-li fa fa-square"></i>
          <a href="{{ e.url }}">ISSISP {{ e.year }}</a>, {{ e. location }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  </div>
</section>
