<section id="intro">
  <div class="container">
    <div class="row">
      <p>
        The 8th International Summer School on
        Information Security and Protection is hosted by
        <a href="http://www-list.cea.fr/en/">CEA LIST</a>.
        It will be held at Château de Button, Gif-sur-Yvette,
        France --- around 35km southwest of Paris.
      </p>

      <p> Here is a succinct
        <a class="darken"
           href="http://www.ville-gif.fr/cadre-de-vie/histoire-et-patrimoine/patrimoine/chateau-de-button/">description
        </a> of the place (in French).
        Locate it on
                  <a href="https://www.google.fr/maps/place/CNRS+-+D%C3%A9l%C3%A9gation+Ile-de-France+Sud/@48.696828,2.1065952,14z/data=!4m8!1m2!2m1!1schateau+de+button!3m4!1s0x47e67f7f484e8983:0xa3df8cb85292dc02!8m2!3d48.7060241!4d2.1314657?hl=fr">Google Maps</a>.
      </p>
      
    </div>
  </div>
</section>
