<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle" data-toggle="collapse"
              data-target="#mynavbar">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="#">
        <img class="align-top" height="50px" alt="ISSISP 2017" src="/assets/img/art/Logo-original-211x100.png"/>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        {% assign sections = site.data.sections %}
        {% for sec in sections %}
        {% if sec.in_menu %}
        <li>
          <a href="#{{ sec.name }}">
            {% if sec.longname %}
            {{ sec.longname }}
            {% else %}
            {{ sec.name | capitalize }}
            {% endif %}
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>

<header>
  <div class="container">
    <div class="row intro">
      <div class="intro-title row">
        <div class="col-xs-12">
          <img class="img-responsive" alt="ISSISP 2017"
               src="/assets/img/art/logo-title-withmargin.png"/>
        </div>

        <div class="col-xs-12">
          <div id="intro-subtitle">
            <div>
                8th International Summer School on
            </div>
            <div>
                Information Security and Protection
            </div>
          </div>
        </div>

        <div class="col-xs-12 register">
          <a class="btn btn-xl btn-click" href="#registration">
            Register
          </a>
        </div>
      </div>

      <div class="row" id="intro-information">
        <p>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          Gif-sur-Yvette, France
        </p>
        <p>
          <i class="fa fa-calendar" aria-hidden="true"></i>
          July 17-21, 2017
        </p>
      </div>
    </div>
  </div>
</header>


