<nav id="mainNav"class="navbar navbar-default navbar-custom navbar-fixed-top" >
  <div class="container">

    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle" data-toggle="collapse"
              data-target="#mynavbar">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="#">ISSISP '17</a>
    </div>

    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        {% assign sections = site.data.sections %}
        {% for sec in sections %}
        {% if sec.in_menu %}
        <li>
          <a href="#{{ sec.name }}">
            {% if sec.longname %}
            {{ sec.longname }}
            {% else %}
            {{ sec.name | capitalize }}
            {% endif %}
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>

<header>
  <div class="container">
    <div class="intro">
      <div class="intro-title">
        ISSISP 2017
      </div>

      <div class="intro-subtitle">
        <div>8th International Summer School on </div>
        <div>Information Security and Protection</div>
      </div>

      <div class="register">
        <a class="btn btn-xl btn-click" href="#registration">
          Register
        </a>
      </div>

      <div class="intro-information">
        <p><i class="fa fa-map-marker" aria-hidden="true"></i>
          Gif-sur-Yvette, France</p>
        <p><i class="fa fa-calendar" aria-hidden="true"></i> July 17-21, 2017</p>
      </div>
    </div>
  </div>
</header>

</div>
