<nav class="navbar navbar-default navbar-custom navbar-fixed-top" id="mainNav">
  <div class="container">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle" data-toggle="collapse"
              data-target="#mynavbar">
        <span class="icon-bar">Menu</span>
      </button>

      <a class="navbar-brand" href="#">ISSISP '17</a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="mynavbar">
      <ul class="nav navbar-nav">
        <li><a href="#speakers">Speakers      </a></li>
        <li><a href="#schedule">Schedule      </a></li>
        <li><a href="#registration">Registration  </a></li>
        <li><a href="#cfp">Call for posters</a></li>
        <li><a href="#sponsors">Sponsors</a></li>
        <li><a href="#location">Location      </a></li>
        <li><a href="#contacts">Contacts      </a></li>
      </ul>
    </div>
  </div>
</nav>

<header>
  <div class="container">
    <div class="intro">
      <div class="intro-title">
        ISSISP 2017
      </div>

      <div class="intro-subtitle">
        <div>8th International Summer School on </div>
        <div>        Information Security and Protection</div>
      </div>

      <div class="register">
        <a class="btn btn-lg btn-click" href="#registration">
          Register
        </a>
      </div>

      <div class="intro-information">
        <p><i class="fa fa-map-marker" aria-hidden="true"></i>
          Gif-sur-Yvette, France</p>
        <p><i class="fa fa-calendar" aria-hidden="true"></i> July 17-21, 2017</p>
      </div>


    </div>
  </div>
</header>

</div>
