<section id="location">
  <div class="container">
    <div class="row">
      <h1>Location</h1>

      <p>
        The summer school will be held at Château de Button, Gif-sur-Yvette,
        France, around 35km southwest of Paris.
      </p>

      <p> Here is a succinct
        <a href="http://www.ville-gif.fr/cadre-de-vie/histoire-et-patrimoine/patrimoine/chateau-de-button/">description
        </a> (in French).

</p>
      <div id="map">
        <p>
          View the location in
                  <a href="https://www.google.fr/maps/place/CNRS+-+D%C3%A9l%C3%A9gation+Ile-de-France+Sud/@48.696828,2.1065952,14z/data=!4m8!1m2!2m1!1schateau+de+button!3m4!1s0x47e67f7f484e8983:0xa3df8cb85292dc02!8m2!3d48.7060241!4d2.1314657?hl=fr">Google Maps</a>

        </p>
      </div>
    </div>

  </div>
</section>
