<section id="registration" class="container">
  <div class="container">
    <div class="row">
      <h1>Registration & Venue</h1>
      <h3>Registration is not open yet. Stay tuned.</h3>

      <p>
        Registration is available with or without accomodation included. The
        provided accomodations are located on the site of the Summer School 
        and are limited.
      </p>

      <p>
        The costs always include:
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-square"></i>
            Course material</li>
          <li><i class="fa-li fa fa-square"></i>
            Lunches, coffee breaks and social event
          </li>
          <li><i class="fa-li fa fa-square"></i>
            A certificate of participation from <a href="https://www.acm.org">ACM</a>
          </li>
          <li><i class="fa-li fa fa-square"></i>
            A complimentay 1-year ACM student membership, incuding a 
            subscription to the ACM Digital libray.
          </li>
        </ul>
      </p>
    </div>
    <div id="venue" class="row">
      <div class="col-md-6">
        
      <h3>Venue</h3>

      <p class="text-center">
        <a class="darken"
           href="http://www.ville-gif.fr/cadre-de-vie/histoire-et-patrimoine/patrimoine/chateau-de-button/">
          Château de Button
        </a>
         <br/>
        CNRS <br/>
        1 Avenue de la Terrasse <br/>
        91190 Gif-sur-Yvette <br/>
        <i class="fa fa-location-arrow" aria-hidden="true"></i>
        48.701844-2.134078000000045 <br/>

        <i class="fa fa-map" aria-hidden="true"></i>

        <a href="https://www.google.fr/maps/place/CNRS+-+D%C3%A9l%C3%A9gation+Ile-de-France+Sud/@48.696828,2.1065952,14z/data=!4m8!1m2!2m1!1schateau+de+button!3m4!1s0x47e67f7f484e8983:0xa3df8cb85292dc02!8m2!3d48.7060241!4d2.1314657?hl=fr">Google Maps</a>


      </p>
      
      </div>
      <div class="col-md-6">
        <h3>How to come</h3>

        <p>
          The venue is accessible from Paris by public transport using the RER B
          line. From the Gif-sur-Yvette station, it is a 15 minutes walk.
        </p>
        <h5>
          <i class="fa fa-plane"></i>
          From Roissy-Charles de Gaulle airport
        </h5>

        <p>Take RER B direction Saint-Rémy-lès-Chevreuse, stop at Gif-sur-Yvette.</p>

        <h5>
          <i class="fa fa-plane"></i>
          From Orly airport
        </h5>
        <p>
          Take Orlyval to Antony, then RER B direction
          Saint-Rémy-lès-Chevreuse, stop at Gif-sur-Yvette.
        </p>
      </div>
    </div>
  </div>
</section>
