<section id="schedule">
<div class="container">
  <div class="row" id="schedule">
    <h1>Schedule</h1>

    {% assign schedule = site.data.schedule %}
    {% assign lectures = site.data.courses %}
    {% assign teachers = site.data.people | where: "teacher", true %}
    {% assign slots = site.data.slots %}


    <div class="row well">
      <ul class="nav nav-pills nav-justified">
      {% for entry in schedule %}
      {% assign day = entry.day %}

        {% if forloop.first %}
        <li class="active">
          {% else %}
        <li>
          {% endif %}
          <a data-toggle="pill" href="#{{ day }}">
            {{ entry.date | date: "%B %d" }}
          </a>
        </li>
      {% endfor %}
      </ul>

      <div class="tab-content">
        {% for entry in schedule %}
        {% assign day = entry.day %}
        {% if forloop.first %}
        <div id="{{ day }}" class="tab-pane fade in active">
          {% else %}
        <div id="{{ day }}" class="tab-pane fade">
          {% endif %}


        {% for c in entry.courses %}
        {% assign lecture = lectures[c.course] %}
        {% assign possible_teachers = teachers | where: "id", lecture.teacher %}
        {% assign teacher = possible_teachers[0] %}
        {% assign h = slots[c.slot] %}
          <div class="entry">
            <div class="row">

              <div class="col-xs-offset-1 col-xs-2 col-md-offset-1 col-md-2">
                <div class="hour">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  {{ h.start }} &#8213; {{ h.end }}
                </div>
              </div>

              <div class="col-xs-9 col-md-9">
                <div class="row">
                  {% if teacher %}
                  <div class="col-xs-6 col-md-6 lecture">
                    {% else %}
                  <div class="col-xs-6 col-md-6 nolecture">
                  {% endif %}
                  {{ lecture.title }}
                  {% if c.handson %}
                  [hands-on]
                  {% endif %}
                  </div>
                  {% if teacher %}
                  <div class="col-xs-4 col-md-4 teacher">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <a href="{{ teacher.www }}">
                      {{ teacher.firstname }} {{ teacher.lastname }}
                    </a>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
        {% endfor %}
     </div>
    </div>
  </div>
</div>

</section>
