<section id="speakers">
  <div class="container">
    <div class="row">
    <h1>Speakers</h1>
    </div>

    {% assign speakers = site.data.people | where: "teacher", "true" %}
    <div class="row">
    {% for s in speakers %}

      <div class="speaker col-sm-6 col-md-4">
        <div class="picture col-sm-12 col-md-12">
          <img alt="" src="/assets/img/people/{{ s.img }}" class="img-responsive img-circle"/>
        </div>

        <div class="col-sm-12 col-md-12">
          {{ mod }}
          <h3>
            {% if s.www %}
          <a href="{{ s.www }}">
            {{ s.firstname }} {{ s.lastname }}
          </a>
          {% else %}
          {{ s.firstname }} {{ s.lastname }}
          {% endif %}
          </h3>
          <div class="affiliation">
            {{ s.affiliation }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
