<section id="speakers">
  <div class="container">
    <div class="row">
    <h1>Speakers</h1>
    </div>


    <div class="row">
      <div class="speaker col-md-4">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <img alt="" src="/assets/img/people/christian.png" class="img-responsive img-circle"/>
          </div>
        </div>
        <h3>Christian Collberg</h3>
      </div>

      <div class="speaker col-md-4">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <img alt="" src="/assets/img/people/jack.jpg" class="img-responsive img-circle"/>
          </div>
        </div>

        <h3>Jack Davidson</h3>
      </div>

      <div class="speaker col-md-4">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <img alt="" src="/assets/img/people/arun.jpg" class="img-responsive img-circle"/>
          </div>
        </div>

        <h3>Arun Lakhotia</h3>
      </div>
    </div>

    <div class="row">
      <div class="speaker col-md-4">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <img alt="" src="/assets/img/people/roberto.png" class="img-responsive img-circle"/>
          </div>
        </div>

        <h3>Roberto Giacobazzi</h3>
      </div>

      <div class="speaker col-md-4">

        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <img alt="" src="/assets/img/people/bjorn.jpg" class="img-responsive img-circle"/>
          </div>
        </div>

        <h3>Bjorn De Sutter</h3>
      </div>

      <div class="speaker col-md-4">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <img alt="" src="/assets/img/people/damien.jpg" class="img-responsive img-circle"/>
          </div>
        </div>

        <h3>Damien Couroussé</h3>
      </div>
    </div>

    <div class="row">
      <div class="speaker col-md-4">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <img alt="" src="/assets/img/people/sebastien.jpg" class="img-responsive img-circle"/>
          </div>
        </div>


        <h3>Sébastien Bardin</h3>
      </div>

      <div class="speaker col-md-4">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <img alt="" src="/assets/img/people/jll.jpg" class="img-responsive img-circle"/>
          </div>
        </div>

        <h3>Jean-Louis Lanet</h3>
      </div>

      <div class="speaker col-md-4">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <img alt="" src="/assets/img/people/yuang.jpg" class="img-responsive img-circle"/>
          </div>
        </div>

        <h3>Yuan Xiang Gu</h3>
      </div>
    </div>


  </div>
</section>
